/* Universal selector. The font is applied throughout the entire webpage*/
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Root contains colors that are used repeatedly for easier use and change */
:root {
    --dark: rgb(6, 6, 38);
    --light: rgb(255, 255, 255);
    --navlink-color: rgb(6, 6, 38);
}
/* Body contains properties applied throughout the entire webpage */
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-image: url("../Image/BackgroundWhite.jpg");
    background-repeat: no-repeat;
    background-size:contain;
}
/* header contains poperties that apply to the entire header including background image for header */
.header {
    width: 100%;
    max-height: 100px;
    padding: 1%;
    padding-bottom: 0%;
    background-image: url("../Image/Header-footerImage.png");
    color: var(--light);
}
/* h1 within the header contains properties applied specifically to teh title of the header */
.header h1 {
    text-shadow: 2px 7px rgb(3, 3, 3);
    font-size: 200%;
    margin-top: 0%;
    margin-left: 30%;
}
/* p within the header contains prperties applied specifically to the subtitle of the header */
.header p {
    margin-left: 37%;
    font-size: 15px;
    line-height: 1.5px;
}
/* img within the header contains prperties applied specifically to the professional picture within the header */
.header img {
    margin-left: 15%;
    position:absolute;
}
/* nav contains properties that apply to the entire nav bar including */
.nav {
    width:100%;
    max-height: 40px;
    background-color: rgb(182, 182, 182);
    margin:0%;
    border: 2px solid var(--dark);
}
/* ul within nav contains prperties applied specifically to the grouped list's section */
.nav ul {
    text-align: right;
    margin: 0%
}
/* li within the un-ordered list contains properties applied specifically to each item of the list */
.nav ul li {
    display: inline;
    margin-right: 60px;
    justify-content: space-between;
    font-weight: bold;
    font-size: 120%;
}
/* hover provides background cahnge color when a mouse hover happens over the li */
li:hover {
background-color: var(--light);
}
/* properties within main applies to each section within the main webpage */
main {
    display: flex;
    position: relative;
}
/* about me contains properties that apply to the about me section */
.Aboutme {
    margin-left: 5px;
    margin-right: 10px;
    width: 100%;
    border:5px double var(--dark); 
    height: min-content;
    background-color: #e6f3fd;
    margin-top: 1%;
    box-shadow: inset 0px 2px 3px 6px rgb(74, 51, 79);
}
/* h2 within about me contains properties that apply specificlaly to the title of the about me section */
.Aboutme h2 {
    text-align: center;
}
/* p within about me contains properties that apply specificlaly to the paragraph of the about me section */
.Aboutme p {
    margin: 1%;
    align-items: center;
    padding: 3%;
    margin-left: 3%;
    }
    /* span and span hover after contains prperties on the format of the text and how the details are displayed upon hovering over the text */
    span[data-descr] {
        position: relative;
        text-decoration: underline;
        color: rgb(59, 58, 59);
        cursor: grab;
    }
span[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    text-decoration: underline;
    left: 0px;
    bottom: 24px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    background-color: var(--navlink-color);
    padding: 5px;
    color: #fff;
    font-size: 80%;
    z-index: 1;
    cursor: grab;
    }
/* contains properties for the title for my work */
#titlework {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: rgb(59, 58, 59);
    width: 100%;
    height: 10%;
    position: absolute;
    margin-top: 1%;
    margin-left: 50%;
    margin-right: 50%;
}
/* section includes properties that apply to the disfferent sections */
section {
    background-color: black;
    padding:30px;
    margin-top: 5%;
    margin-right: 1%;
    border: 5px groove silver;
    box-shadow: 10px 10px rgb(100, 98, 100);
    height: min-content;
  }
  /* html includes properties to the 1st my work section */
  section .html {
    background-color: rgb(124, 169, 188);
    margin-top: 3%;
    border-style: groove;
  }
  /* small images includes properties that apply to the javascript and web api section within my work */
  .smallimages {
    background-color: gray;
    margin-top: 3%;
    width:40%;
    border-style: groove;
  }
  /* hover property displays what happens to the property upon mouse hover */
  section div:hover {
    background-color: white;
    }
/* contains priperties specific to the my work images and paragraph */
  div h3 {
    font-size: 16px;
    margin: 1%;
    font-weight: bold;
}
    div p {
    font-size: 13px;
    margin: 0%;
}
/* img contains specific details for the html and the placeholder images */
    .html img {
    padding: 2%;
    padding-left: 3%;
    width: 100%;
    align-items: center;
    transform: rotate(1deg);
}
    .smallimages img {
    padding: 2%;
    padding-left: 3%;
    width: 100%;
    align-items: center;
    transform: rotate(1deg);
}
/* footer contains properties that apply to the entire footer section */
footer {
    white-space: pre-line;
}
/* contains properties specific to the heading of the footer section */
footer h3 {
margin-left: 60%;
margin-top: 1%;
margin-bottom: 1%;
padding-top: 1%;
font-weight: bold;
font-style: oblique;
font-size: 26px;
text-decoration: 2px double var(--dark) underline;
color: var(--dark);
}
/* contains properties specific to the unordered lists section within the footer */
footer ul {
    margin-left: 60%;
    list-style-type: none;
    margin-top: 0%;
    font-size: 18px;
}
/* contains properties specific to the end line within the footer*/
footer p {
    text-align: center;
    margin-right: 70%;
    width: 100%;
    height: 80px;
    position: absolute;
    background: rgb(29, 29, 29);
    color: white;
    font-size: 20px;
    padding-top: 3px;
    margin-top: 0%;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    gap:1%;
}

/* contains properties on how and what changes upon screen size reaching 995px and below */
 @media screen and (max-width: 995px) {
    .header {
        background: #001b4d;
        color: white;
    }
    .header img {
        display: none;   /*profession picture is meant to disappear if screen size goes 995px or below */
    }
    section {
        flex-direction: column;
        width:50%;
        background-color: white;
        height: min-content;
    }
    .html img {
        width:50%

    }
    .smallimages img {
        width:50%;
    }
    #titlework {
        color: var(--navlink-color);
    }
    footer {
        background: #001b4d;
        color: white;
    }
    footer h3 {
        text-align: left;
        margin-left: 20%;
        color: white;
    }
    footer ul {
        text-align: left;
        margin-left: 20%;
    }
 }

/* Contails properties on how and what changes upon screen size reaching 760px and below */
 @media screen and (max-width: 760px) {
    .header {
        background: #4d0049;
        color: white;
    }
    section {
        width:25%;
        background-color: white;
    }
    footer {
        background: #4d0049;
        color: white;
    }

}




